name: Continuous Deployment
on:
  workflow_run:
    workflows: ["CI tests about Powerbuilder"]
    types:
      - completed
    branches: [ "main" ]
  workflow_dispatch:

permissions:
  contents: write
  discussions: write

jobs:
  deploy:
    if: ${{ github.event.workflow_run.conclusion == 'success' || github.event_name == 'workflow_dispatch' }}
    runs-on: windows-2022

    steps:
    - name: Checkout code
      uses: actions/checkout@v6
      with:
        fetch-tags: true
        fetch-depth: 0

    - name: Cache NuGet packages
      uses: actions/cache@v5
      with:
        path: ${{ github.workspace }}/packages
        key: ${{ runner.os }}-nuget-${{ hashFiles('**/*.sln*', '**/*.csproj*') }}
        restore-keys: |
          ${{ runner.os }}-nuget-

    - name: Restore dependencies
      run: |
        dotnet workload install maccatalyst
        dotnet restore PdfToImageConverter.csproj
    
    - name: Build solution for release
      run: |
        dotnet build PdfToImageConverter.csproj --configuration Release --no-restore -f net481
        dotnet publish PdfToImageConverter.csproj --configuration Release --no-restore -f net8.0
        dotnet publish PdfToImageConverter.csproj --configuration Release --no-restore -f net10.0-maccatalyst

    - name: Install ILRepack
      run: |
        try {
             dotnet tool install -g dotnet-ilrepack
         } catch {
             Write-Host "Error installing ILRepack: $_" -ForegroundColor Red
         }

    - name: Prepare Release Files
      shell: pwsh
      run: |
        # Define paths
        $buildPath = "${{ github.workspace }}\bin\Release\net481\win-x86"
        $releaseDir = "${{ github.workspace }}\release-files"
        
        # Create release directory
        New-Item -Path $releaseDir -ItemType Directory -Force
        New-Item -Path $releaseDir\net481 -ItemType Directory -Force
        New-Item -Path $releaseDir\net8.0 -ItemType Directory -Force
        New-Item -Path $releaseDir\net10.0-maccatalyst -ItemType Directory -Force

        # Copy all build artifacts recursively
        if (Test-Path $buildPath) {
            Copy-Item -Path "$buildPath\x86\*" -Destination $releaseDir\net481 -Recurse -Force
            Write-Host "Copied native dlls from $buildPath to $releaseDir"

            # Merge NET 4.8.1 DLLs (using ILRepack)
            ilrepack /out:"$releaseDir\net481\PdfToImageConverter.dll" `
                /lib:"$buildPath" `
                /targetplatform:"v4,C:\Windows\Microsoft.NET\Framework\v4.0.30319" `
                /union `
                /copyattrs `
                /internalize `
                /keyfile:"${{ github.workspace }}\PdfToImageConverter.snk" `
                "$buildPath\PdfToImageConverter.dll" `
                "$buildPath\Microsoft.Extensions.Logging.Abstractions.dll" `
                "$buildPath\PDFtoImage.dll" `
                "$buildPath\SkiaSharp.dll" `
                "$buildPath\System.Buffers.dll" `
                "$buildPath\System.Memory.dll" `
                "$buildPath\System.Numerics.Vectors.dll" `
                "$buildPath\System.Runtime.CompilerServices.Unsafe.dll" `
                "$buildPath\Microsoft.Bcl.AsyncInterfaces.dll" `
                "$buildPath\Microsoft.Extensions.DependencyInjection.Abstractions.dll" `
                "$buildPath\System.Diagnostics.DiagnosticSource.dll" `  
                "$buildPath\System.Threading.Tasks.Extensions.dll"

            # Delete unnecessary files
            $filesToDelete = @(
                "$releaseDir\libpdfium.so"
            )

            foreach ($file in $filesToDelete) {
                if (Test-Path $file) {
                    Remove-Item -Path $file -Force
                    Write-Host "Deleted: $file"
                }
            }
            
            # List remaining files for verification
            Write-Host "`nFiles included in release:"
            Get-ChildItem -Path $releaseDir -Recurse | Where-Object { !$_.PSIsContainer } | ForEach-Object {
                Write-Host $_.FullName.Replace($releaseDir, '')
            }
        } else {
            Write-Host "::error::Build output directory not found at: $buildPath"
            exit 1
        }

        # merge and copy net8.0
        $buildPath = "${{ github.workspace }}\bin\Release\net8.0\win-x86\publish"
        Copy-Item -Path "$buildPath\pdfium.dll" -Destination $releaseDir\net8.0
        Copy-Item -Path "$buildPath\libSkiaSharp.dll" -Destination $releaseDir\net8.0

        ilrepack /out:"$releaseDir\net8.0\PdfToImageConverter-net8.0.dll" `
            /lib:"$buildPath" `
            /union `
            /copyattrs `
            /internalize `
            /keyfile:"${{ github.workspace }}\PdfToImageConverter.snk" `
            "$buildPath\PdfToImageConverter.dll" `
            "$buildPath\Microsoft.Extensions.DependencyInjection.Abstractions.dll" `
            "$buildPath\Microsoft.Extensions.Logging.Abstractions.dll" `
            "$buildPath\Microsoft.Win32.SystemEvents.dll" `
            "$buildPath\PDFtoImage.dll" `
            "$buildPath\SkiaSharp.dll" `
            "$buildPath\System.Diagnostics.DiagnosticSource.dll" `
            "$buildPath\System.Drawing.Common.dll" `
            "$buildPath\System.Private.Windows.Core.dll"

        # copy net10.0-maccatalyst
        $buildPath = "${{ github.workspace }}\bin\Release\net10.0-maccatalyst\macos-arm64"
        Rename-Item -Path "$buildPath\PdfToImageConverter.dll" -NewName "PdfToImageConverter-net10.0-maccatalyst.dll"
        Copy-Item -Path "$buildPath\*" -Destination $releaseDir\net10.0-maccatalyst -Recurse -Force
        
        # Create ZIP archive
        Compress-Archive -Path "$releaseDir\*" -DestinationPath "$releaseDir\PdfToImageConverter-Full.zip" -Force
        
    - name: Get latest release version and Generate release notes
      id: get_latest_release
      run: |
        try {
          $latest_release = $(git describe --tags --abbrev=0)
          Write-Output "Latest release version: $latest_release"
          echo "latest_release=$latest_release" >> $env:GITHUB_ENV
          $versionParts = $latest_release.Split('.')
          $versionParts[-1] = [int]$versionParts[-1] + 1
          $newVersionString = $versionParts -join '.'
          
          $releaseNotes = "## Changes in " + $latest_release + "`n"
          $releaseNotes += (git log HEAD ^$latest_release --oneline) -join "`n"
          $releaseNotes += "`n"
          $releaseNotes += "### File edited `n"
          $releaseNotes += "`n"
          $releaseNotes += (git diff HEAD ^$latest_release --compact-summary) -join "`n"
        } catch {
          Write-Output "No previous release found. Creating initial release 0.0.1"
          $newVersionString = "0.0.1"
          
          $releaseNotes = "## Initial Release v0.0.1`n"
          $releaseNotes += (git log --oneline) -join "`n"
          $releaseNotes += "`n"
          $releaseNotes += "### Files included `n"
          $releaseNotes += "`n"
          $releaseNotes += (git ls-files | ForEach-Object { "Added $_" }) -join "`n"
        }
        foreach ($line in $latestCommitMessage) {
          if ($line -match "Update Version to (\d+\.\d+\.\d+)") {
            $messageParts = $line -split ' '
            $lastPart = $messageParts[-1]
            echo "new_release=$lastPart" >> $env:GITHUB_ENV
          }
        }
        echo "new_release=$newVersionString" >> $env:GITHUB_ENV
        $latestCommitMessage = (git log HEAD ^$latest_release -1 --pretty=%B)
        foreach ($line in $latestCommitMessage) {
          if ($line -match "Update Version to (\d+\.\d+\.\d+)") {
            $messageParts = $line -split ' '
            $lastPart = $messageParts[-1]
            echo "new_release=$lastPart" >> $env:GITHUB_ENV
          }
        }
        $releaseNotes | Out-File -FilePath releaseNotes.txt -Encoding utf8
        $releaseNotesContent = Get-Content -Path releaseNotes.txt -Raw
        echo "release_notes<<EOF" >> $env:GITHUB_ENV
        echo "$releaseNotesContent" >> $env:GITHUB_ENV
        echo "EOF" >> $env:GITHUB_ENV

        
    - name: Create Release
      uses: softprops/action-gh-release@v2
      with:
        files: |
          ${{ github.workspace }}\release-files\PdfToImageConverter-Full.zip
          ${{ github.workspace }}\release-files\net481\PdfToImageConverter.dll
          ${{ github.workspace }}\release-files\net8.0\PdfToImageConverter-net8.0.dll
          ${{ github.workspace }}\release-files\net10.0-maccatalyst\PdfToImageConverter-net10.0-maccatalyst.dll
        tag_name: ${{ env.new_release }}
        name: Release ${{ env.new_release }}
        body: ${{ env.release_notes }}
        draft: false
        prerelease: false
        fail_on_unmatched_files: true

